<template>
  <q-page class="column items-center justify-start page">
    <div class="home-title">
      Bem vindo Usuário!
    </div>
    <div class="info row justify-around">
      <q-card flat bordered class="card">
        <q-card-section>
          <div class="card-header">Usuários que receberam recomendações</div>
        </q-card-section>
      </q-card>

      <q-card flat bordered class="card">
        <q-card-section>
          <div class="card-header">Usuários que receberam recomendações</div>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component
export default class Index extends Vue {
}
</script>
