.login-page {
  width: 100%;

  .card {
    width: 25%;
  }

  .login-logo {
    margin-top: 20px;
    width: 50%;
  }

  .login-btn {
    width: 40%;
    background-color: $yellow-orange;
    color: $white;
  }

  .forget-password {
    margin: 25px 0;
    text-decoration: none;
    color: $gunmetal;
  }
}

