.initial-menu-buttons {
  color: $white;
  width: 60%;

  .project-btn {
    font-size: 10em;
    cursor: pointer;

    span {
      margin-top: 30px;
      font-size: 0.18em;
    }
  }
}

.create-project {
  width: 100%;
  height: 100%;

  .card {
    height: 470px;
  }

  .form {
    height: 375px;

    .fields {
      width: 50%;
    }

    .field-text {
      margin-top: 30px;

      textarea {
        resize: none;
        overflow: hidden;
      }
    }

    .create-btn {
      color: $white;
      background-color: $yellow-orange;
      width: 30%;
    }
  }

  .project-attributes {
    height: 230px;

    p {
      text-align: center;
      font-size: $font-normal;
    }

    .label {
      color: $yellow-orange;
    }

    .fields {
      width: 80%;
    }

    .attribute-btn {
      width: 80%;
      color: $white;
      font-size: $font-text;
      background-color: $yellow-orange;
    }
  }
}

.list-projects {
  width: 100%;

  .card {
    width: 60%;
  }

  .list-projects-content {
    height: 100%;
    overflow-y: auto;
    height: 400px;

    .projects-table {
      width: 80%;
      max-height: 300px;
    }

    .action-buttons {
      width: 80%;

      * {
        color: $white;
      }
    }
  }
}
