.info-users {
  width: 100%;

  .card {
    width: 45%;
  }

  .info-fields {
    font-size: $font-text;
    width: 80%;

    div {
      margin-bottom: 10px;
    }

    .label {
      color: $yellow-orange;
    }
  }
}
