@import 'pages/login';
@import 'pages/index';
@import 'pages/projects';
@import 'pages/users';

* {
  font-family: 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header-style {
  background-color: $yellow-orange;
  color: $white;
  border: none;
}

.side-menu {
  min-height: 100%;
}

.menu-logo {
  width: 100%;
  margin-bottom: 20px;

  .image-logo {
    width: 60%;
    margin-left: -10%;
  }
}

.menu-logo-ifes {
  width: 100%;
  padding-top: 30px;

  .image-logo {
    width: 70%;
  }
}

.menu-user {
  .btn {
    margin-left: 10px;
    border-radius: 0;
  }

  .btn-logout {
    padding: 0 30px;
    border-radius: 10px;
    background-color: $gunmetal;
  }
}

.page {
  background-color: $yellow-orange-bg;
}

.footer-style {
  background-color: $yellow-orange-bg;
  font-weight: 500;
  height: 50px;
}

.card {
  border-radius: 20px;

  .card-header {
    width: 100%;
    text-align: center;
    font-size: $font-normal;
  }
}
