// Default Application Variables
$tart-orange: #f94144ff;
$orange-red: #f3722cff;
$yellow-orange: #f8961eff;
$yellow-orange-bg: #fda53a;
$maize-crayola: #f9c74fff;
$pistachio: #90be6dff;
$jungle-green: #43aa8bff;
$queen-blue: #577590ff;
$gunmetal: #27333dff;
$gunmetal-2: #202931ff;
$white: #ffffff;
$transparent: transparent;

$font-h1: 2em;
$font-h1-small: 1.6em;
$font-h2: 1.4em;
$font-normal: 1.2em;
$font-text: 1em;
$font-obs: 0.8em;
