<template>
  <q-layout view="hhh lpr fff">
    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer class="footer-style row justify-center items-center">
      Desenvolvido por Herik S.Lorenção
    </q-footer>
  </q-layout>
</template>

<script lang="ts">
import {Vue, Component} from 'vue-property-decorator';

@Component
export default class LoginLayout extends Vue{
}
</script>
