<template>
  <q-page class="column items-center justify-center page">
    <div class="info-users row justify-around">
      <q-card flat bordered class="card col-6">
        <q-card-section>
          <div class="card-header">Dados dos Usuários</div>
        </q-card-section>
        <q-card-section class="info-fields">
            <div class="row">
              <span class="label">Nome:</span>
              <span class="content"></span>
            </div>
          <div class="row">
            <span class="label">Login:</span>
            <span class="content"></span>
          </div>
          <div class="row">
            <span class="label">Email:</span>
            <span class="content"></span>
          </div>
        </q-card-section>
      </q-card>
      <q-card flat bordered class="card col-6">
        <q-card-section>
          <div class="card-header">Informações dos Usuários</div>
        </q-card-section>
        <q-card-section>

        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import { Vue, Component } from 'vue-property-decorator';

@Component
export default class ListUsers extends Vue {
  mounted() {
    
  }
}
</script>
